.arts-item{
  list-style-type: none;
  
  img {
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    max-height:100%;
    max-width:100%;
  }

}

.back-btn{
  color: black;
  display: inline-block;
  position: absolute;
  text-decoration: none;
  background-color: rgb(255, 175, 71);
  width: 80px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover{
    transform: scale(1.2);
  }
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:3vmin;
  position:relative;
  text-align:center;
  height: 65vh;

  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}

.art-item-title{
  padding: 15px;

  h1{
    text-align: center;
    margin-bottom: 30px;
  }

  h2{
    color: rgb(96, 96, 96);
    margin-bottom: 10px;


    span{
      font-size: 26px;
      color: black;
    }
  }

  h3{
    color: rgb(96, 96, 96);

    span{
      font-size: 24px;
      color: black;
    }
  }
}

.image-width{
  width: 50vw;
  margin-inline: auto;
}